$theme-colors: (
  "Fondo":#292929,
  "LightBlue": rgba(121, 185, 242, 1),
  "Blue": rgba(121, 151, 242, 1),
  "DarkBlue": rgba(79, 104, 242, 1),
  "Yellow": rgba(242, 159, 4, 1),
  "Green": rgb(0, 130, 33),
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// #income_canva {
//   width: 150px;
//   height: 150px;
// }

#__next {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;

  main {
    flex-grow: 1;
  }
}

.background-general {
  background-color: rgb(79, 97, 197);
}

.navBar-Container {
  background-color: rgba(39, 27, 128, 0.316);
  width: 18%;

  nav {
    display: flex;
    flex-direction: column;

    ul {
      padding: 20px 0 0 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  button {
    background-color: rgb(39, 27, 128);

    &:hover {
      background-color: rgb(79, 97, 197);
    }
  }
}

.container-graphics {
  flex-grow: 1;
  padding: 5px;
}

.colorBtnAgregar {
  background-color: rgb(39, 27, 128);
  max-width: 150px;
}

.containerGraphicosDiv {
  -webkit-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  box-shadow: 6px 6px 4px -1px rgba(19, 19, 19, 0.474);
  min-height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerCuentas {
  -webkit-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  box-shadow: 6px 6px 4px -1px rgba(19, 19, 19, 0.474);
}

.containerGraphicosDivExc {
  -webkit-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  box-shadow: 6px 6px 4px -1px rgba(19, 19, 19, 0.474);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heandingExcedent {
  position: absolute;
  top: 35%;
}

.user-img {
  width: 250px;
  height: 250px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #002cb0;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.flip-vertical-right {
  -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.divCard {
  display: flex;
  justify-content: center;
  width: 252px;
  height: 119px;
  align-items: flex-start;
  border-radius: 12px;
  background: #F3F3F3;
}

@media (max-width: 767px) {
  .divCard {
    flex-direction: column;
    align-items: center;
  }
}

.user-card {
  width: 50%;
  height: 30%;
}

.user-card img {
  width: 70%;
  height: 100%;
}

.btnLogin {
  background: transparent;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  padding: 10px 20px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.btnLogin::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
  z-index: 1;
  transition: background 3s;
}

.btnLogin:hover::before {
  animation: rotate 1s;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


.form-container {
  box-sizing: border-box;
  width: 350px;
  height: 552px;

  background: #F2F2F2;
  border: 1px solid #000000;
  border-radius: 12px;

  padding: 2rem;
  color: rgba(243, 244, 246, 1);

  .title {
    width: 100%;
    height: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    line-height: 29px;
    color: black;
    text-align: center;
  }

  .form {
    margin-top: 1.5rem;
  }

  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .input-group label {
    display: block;
    color: #000000;
    margin-bottom: 4px;
  }

  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(243, 244, 246, 1);
    outline: 0;
    background: #D9D9D9;
    padding: 0.75rem 1rem;
  }

  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }

  .input-group input::placeholder {
    width: 136px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #8C8C8C;
  }

}


.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000000;
}

.custom-container {
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: calc((500px - 100px) / 2);
}

.btn-general {
  width: 119px;
  height: 39.13px;
  border: 0;
  background: #4756AA;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  transition: all 0.5s ease;
  display: inline-block;
  border-radius: 2px;

  a {
    width: 72px;
    height: 17px;
    margin-left: 1%;
    margin-top: 5%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF !important;
    text-decoration: none;
  }

  &:hover {
    letter-spacing: 1px;
    background-color: hsl(239, 40%, 45%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 7px 29px 0px rgba(84, 101, 198);
  }

  &:active {
    letter-spacing: 1px;
    background: hsl(239, 40%, 45%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 0px 0px rgba(84, 101, 198);
    transform: translateY(5px);
    transition: 100ms;
  }


}


.btn-login-auth {
  width: 284px;
  height: 49px;
  background: #4756AA;
  border: 0;
  color: #FFFFFF;

  p {
    width: 82px;
    height: 11px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
  }

  &:hover {
    letter-spacing: 1px;
    background-color: hsl(239, 40%, 45%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 7px 29px 0px rgba(84, 101, 198);
  }

  &:active {
    letter-spacing: 1px;
    background-color: hsl(239, 40%, 45%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 0px 0px rgba(84, 101, 198);
    transform: translateY(5px);
    transition: 100ms;
  }

}

.btn-Logaout {
  width: calc(50% + 100px);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-Logaout .ms-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.span-not-sign-in {
  font-size: 8px;
}

// .container-barra-lateral {
//   height: 100vh;
// }


.aside-cuenta {
  box-sizing: border-box;
  width: 484px;
  height: 578px;
  background: #F2F2F2;
  border: 2px solid #292929;
  border-radius: 12px;
}